
.form-inline{
    margin-right:12%;
    margin-top: 1%;
}

.logo1{
  width:45%;
  height:auto;

}

.navbar-light{
  background: #65ba41;
}

.container-fluid-1{
    
}
.container-fluid-2{

}
.container-fluid-3{
 
}

/* iphone678x  */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

 
}


  
 