
  body {
    background: lightslategray;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(132, 199, 115);
  }
  .bd{
    
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(132, 199, 115);
    
  }
  .foodImg{
    width: 200px;
    height: 200px;
    margin: 10px ;
  } 
  /* unvisited link */
  a:link {
  color: green;
  }
  /* visited link */
  a:visited {
  color: purple;
  }
  
  /* GOOGLE AREA */
  .col-lg{
      margin: 0 auto !important
  }
  
  .form {
    text-align: center;
  }
  
  #form-search { 
    width: 450px;
    line-height: 32px;
    padding: 20px 10px;
  }
  
  .form #form-search {
    padding: 0 8px;
  }
  
  
  .buttons {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 300px;
  }
.bg-light{
  color: lightcoral;
      
}
.form-inline{
    margin-right:12%;
    margin-top: 1%;
}
.searchButton{
  width: 120px;
  height: 3.75%;
}
.wrapper {
  background: rgba(132, 199, 115, 0.774);
  overflow: hidden;
  padding-left: 5px;
  background-color: rgba(132, 199, 115, 0.774);
}
.hvr-pulse-shrink{
  position: relative;
  width: 120px;
  height: 4%;
  top: -2px;
  
}
.hvr-pulse-shrink:hover{
  background: rgba(132, 199, 115, 0.774);
}
.logo1{
  width:45%;
  height:auto;
}
.navbar-light{
  background: rgba(132, 199, 115, 0.774);
}
.side-btn{
    width: 100px;
 color: white  !important;
}
  
